.auth0-lock.auth0-lock .auth0-lock-form .auth0-lock-alternative {
    display: none !important
}

#logo-grey-horizontal #Group #LogoBadge #Shape {
    display: none !important
}

.auth0-lock-badge-bottom {
    display: none !important
}

.auth0-lock.auth0-lock .auth0-lock-submit {
    background-color: rgb(58, 62, 65) !important;
    border-radius: 0 0 0 0 !important
}

.auth0-lock.auth0-lock .auth0-lock-header-logo {
    height: 25px !important
}

#message:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "It looks like you have another account with the same email address. We recommend you link these accounts."
}

#message {
    visibility: hidden;
    position: relative;
}